// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$white: #ffffff;

$theme-colors: (
    "light":      #F5E8D8,
    "dark":       #1C1C1C,
    "primary":    #FF4500,
    "secondary":  #DAA520,
    "info":       #FF6F61,
    "success":    #16C47F,
    "warning":    #FFD65A,
    "danger":     #FF4A4A,
);

$body-bg: #F5E8D8;

[data-bs-theme="light"] .form-select {
    border-color: #1C1C1C; // Change this to your desired border color for light theme
  }
  
  [data-bs-theme="light"] .form-select:focus {
    border-color: #1C1C1C; // Change this to your desired focus border color for light theme
    box-shadow: 0 0 0 0.25rem #6e6e6e; // Optional: Add custom box-shadow for light theme
  }

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here