<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYC Subway Departure Widget</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <section id="app info">
        <div class="container text-center mt-5">
            <div class="row">
                <div class="col">
                    <h1 class="text-primary display-2"><svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" width="60" height="60" viewBox="0 0 15 30" fill="#B9FFF8"><path d="M17.5,0H6.5C4.019,0,2,2.019,2,4.5V14.5c0,2.481,2.019,4.5,4.5,4.5h.117l-2.546,4.243c-.143,.237-.065,.544,.172,.686,.08,.048,.169,.071,.257,.071,.169,0,.335-.086,.429-.243l2.854-4.757h8.434l2.854,4.757c.094,.156,.26,.243,.429,.243,.088,0,.177-.023,.257-.071,.237-.142,.314-.449,.172-.686l-2.546-4.243h.117c2.481,0,4.5-2.019,4.5-4.5V4.5c0-2.481-2.019-4.5-4.5-4.5Zm-5,12V5h8.5v7H12.5Zm-9.5,0V5H11.5v7H3ZM6.5,1h11c1.76,0,3.221,1.306,3.464,3H3.036c.243-1.694,1.704-3,3.464-3Zm11,17H6.5c-1.93,0-3.5-1.57-3.5-3.5v-1.5h3v1.5c0,.276,.224,.5,.5,.5s.5-.224,.5-.5v-1.5h10v1.5c0,.276,.224,.5,.5,.5s.5-.224,.5-.5v-1.5h3v1.5c0,1.93-1.57,3.5-3.5,3.5Z"/></svg> NYC Subway Widget</h1>
                    <p class="text-light mt-3">Select a station below to view the next 5 departure times</p>
                </div>
            </div>
        </div>
    </section>

    <section id="station selection form">
        <form action="/submit" method="POST">
            <div class="container text-start">
                <div class="row gy-2">
                    <div class="col-12">
                        <label class="form-label text-info" for="station"><svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 20 35" width="25" height="25" fill="#FF9551">
                            <path d="m19.5,6h-6c-2.481,0-4.5,2.019-4.5,4.5v7c0,1.391.822,2.585,2,3.149v2.351h-1.5c-.276,0-.5.224-.5.5s.224.5.5.5h14c.276,0,.5-.224.5-.5s-.224-.5-.5-.5h-2v-2.163c1.441-.434,2.5-1.757,2.5-3.337v-7c0-2.481-2.019-4.5-4.5-4.5Zm-2.5,8v-4h5.949c.024.165.051.329.051.5v3.5h-6Zm-7,0v-3.5c0-.171.027-.335.051-.5h5.949v4h-6Zm3.5-7h6c1.391,0,2.585.822,3.149,2h-12.298c.564-1.178,1.758-2,3.149-2Zm7,16h-8.5v-2.051c.165.024.329.051.5.051h8v2Zm0-3h-8c-1.379,0-2.5-1.122-2.5-2.5v-2.5h2v1.5c0,.276.224.5.5.5s.5-.224.5-.5v-1.5h7v1.5c0,.276.224.5.5.5s.5-.224.5-.5v-1.5h2v2.5c0,1.378-1.121,2.5-2.5,2.5Zm-14-2H1V3.5c0-1.378,1.121-2.5,2.5-2.5h1.5v1.5c0,.827.673,1.5,1.5,1.5h5c.827,0,1.5-.673,1.5-1.5v-1c0-.827-.673-1.5-1.5-1.5H3.5C1.57,0,0,1.57,0,3.5v18.5c0,1.103.897,2,2,2h2c1.103,0,2-.897,2-2v-3h.5c.276,0,.5-.224.5-.5s-.224-.5-.5-.5ZM6,1h5.5c.275,0,.5.224.5.5v1c0,.276-.225.5-.5.5h-5c-.275,0-.5-.224-.5-.5v-1.5Zm-1,21c0,.551-.448,1-1,1h-2c-.552,0-1-.449-1-1v-3h4v3Z"/>
                          </svg> Station:</label>
                        <select class="form-select text-light" id="station" name="station" required>
                            <option value="" disabled selected>Select a station</option>
                            <option value="station1">Astoria-Ditmars Blvd</option>
                            <option value="station3">Astoria Blvd</option>
                            <option value="station4">30th Ave</option>
                            <option value="station5">Broadway</option>
                            <option value="station6">36th Ave</option>
                            <option value="station8">39th Ave-Dutch Kills</option>
                            <option value="station9">Queensboro Plaza</option>
                            <!-- Add more stations as needed -->
                        </select>
                    </div>    
                    <div class="col-12">
                        <label class="form-label text-info" for="line"><svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 20 32" width="25" height="25" fill="#FF9551">
                            <path d="m23.991,21.34l-.107-1c-.082-.764-.723-1.34-1.491-1.34h-2.253l-.217-2h1.578c.425,0,.832-.181,1.116-.498s.421-.74.375-1.162l-.107-1c-.082-.764-.723-1.34-1.491-1.34h-1.905l-.217-2h1.73c.425,0,.832-.181,1.116-.498.284-.316.421-.74.375-1.162l-.107-1c-.082-.764-.724-1.34-1.492-1.34h-2.057l-.217-2h1.382c.425,0,.832-.181,1.116-.498s.421-.74.375-1.162l-.107-1c-.082-.764-.723-1.34-1.491-1.34h-1.775c-.21-.583-.744-1-1.389-1-.426,0-.833.182-1.117.499-.132.147-.229.319-.293.501h-6.637c-.065-.183-.161-.354-.293-.501-.284-.317-.691-.499-1.117-.499-.645,0-1.179.417-1.389,1h-1.775c-.769,0-1.41.576-1.491,1.34l-.107,1c-.045.422.091.846.375,1.162s.691.498,1.116.498h1.382l-.217,2h-2.057c-.768,0-1.41.576-1.492,1.34l-.107,1c-.045.422.091.846.375,1.162.284.316.69.498,1.116.498h1.73l-.217,2h-1.905c-.769,0-1.41.576-1.491,1.34l-.107,1c-.045.422.091.846.375,1.162s.691.498,1.116.498h1.578l-.217,2H1.607c-.769,0-1.41.576-1.491,1.34l-.107,1c-.045.422.091.846.375,1.162s.691.498,1.116.498h2.079c.065.183.161.354.293.501.284.317.691.499,1.117.499.645,0,1.179-.417,1.389-1h11.243c.21.583.744,1,1.389,1,.426,0,.833-.182,1.117-.499.132-.147.229-.319.293-.501h2.079c.425,0,.832-.181,1.116-.498s.421-.74.375-1.162Zm-2.599-7.34c.256,0,.47.192.497.447l.107,1c.015.143-.029.28-.125.387-.096.107-.229.166-.372.166h-1.687l-.217-2h1.797Zm-.5-6c.256,0,.47.192.498.447l.107,1c.015.143-.029.281-.125.387-.096.107-.229.166-.372.166h-1.838l-.217-2h1.948Zm-.502-5.553l.107,1c.015.143-.029.28-.125.387-.096.107-.229.166-.372.166h-1.491l-.217-2h1.601c.256,0,.47.192.497.447Zm-11.664-.447h6.548l.217,2h-6.983l.217-2Zm-1.304,12h9.156l.217,2H7.204l.217-2ZM15.6,5l.217,2h-7.635l.217-2h7.2Zm-7.526,3h7.852l.217,2H7.857l.217-2Zm-.326,3h8.504l.217,2H7.531l.217-2Zm-.652,6h9.808l.217,2H6.878l.217-2Zm-.326,3h10.46l.217,2H6.552l.217-2ZM4,4c-.144,0-.276-.059-.372-.166-.096-.107-.14-.244-.125-.387l.107-1c.027-.255.241-.447.497-.447h1.601l-.217,2h-1.491Zm-1,6c-.144,0-.276-.059-.372-.166-.096-.106-.14-.244-.125-.387l.107-1c.027-.255.241-.447.498-.447h1.948l-.217,2h-1.838Zm-.5,6c-.144,0-.276-.059-.372-.166-.096-.107-.14-.244-.125-.387l.107-1c.027-.255.241-.447.497-.447h1.797l-.217,2h-1.687Zm-1.372,5.834c-.096-.107-.14-.244-.125-.387l.107-1c.027-.255.241-.447.497-.447h2.145l-.217,2H1.5c-.144,0-.276-.059-.372-.166Zm3.489,1c-.081-.091-.117-.206-.118-.326,0-.003.002-.005.002-.008,0-.009-.004-.016-.005-.024,0-.01-.004-.019-.003-.029L6.774,1.446c.028-.254.241-.446.497-.446.144,0,.276.059.373.166.096.107.14.245.125.388l-2.282,21c-.044.397-.603.577-.87.28Zm13.897-.28L16.231,1.554c-.016-.143.029-.28.125-.388.096-.107.229-.166.373-.166.256,0,.469.192.497.446l2.282,21c.001.01-.003.019-.003.029,0,.009-.005.016-.005.024,0,.003.002.005.002.008-.002.12-.037.234-.118.326-.267.297-.827.117-.87-.28Zm4.358-.72c-.096.107-.229.166-.372.166h-2.035l-.217-2h2.145c.256,0,.47.192.497.447l.107,1c.015.143-.029.28-.125.387Z"/>
                          </svg> Line:</label>
                        <select class="form-select text-light" id="line" name="line" required>
                            <option value="" disabled selected>Select a line</option>
                            <option value="N">N - Express</option>
                            <option value="W">W - Local</option>
                            <!-- Add more lines as needed -->
                        </select>
                    </div>
                    <div class="col-12">
                        <label class="form-label text-info" for="direction"><svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 20 32" width="25" height="25" fill="#FF9551">
                            <path d="m5.469,15H0v1h4v2H0v1h4v2H0v1h1c0,1.103.897,2,2,2,.6,0,1.133-.271,1.5-.691.367.42.9.691,1.5.691,1.103,0,2-.897,2-2h2v-1.5l-1.282-3.3c-.534-1.336-1.81-2.2-3.249-2.2Zm-.469,1h.469c1.028,0,1.939.617,2.321,1.571l.172.429h-2.962v-2Zm-2,7c-.552,0-1-.449-1-1h2c0,.551-.448,1-1,1Zm3,0c-.552,0-1-.449-1-1h2c0,.551-.448,1-1,1Zm3-2h-4v-2h3.362l.638,1.596v.404Zm10-9.007l3.535-3.458c.944-.944,1.465-2.2,1.465-3.536s-.521-2.591-1.465-3.536-2.2-1.464-3.535-1.464-2.592.52-3.535,1.464c-.944.944-1.465,2.2-1.465,3.536s.521,2.591,1.469,3.54l3.531,3.454Zm-2.828-9.822c.755-.755,1.76-1.171,2.828-1.171s2.072.416,2.828,1.171,1.172,1.76,1.172,2.829-.416,2.073-1.168,2.825l-2.832,2.77-2.828-2.766c-.756-.755-1.172-1.76-1.172-2.829s.416-2.073,1.172-2.829Zm7.828,16.329c0,1.93-1.57,3.5-3.5,3.5h-8.5v-1h8.5c1.378,0,2.5-1.122,2.5-2.5s-1.122-2.5-2.5-2.5h-9c-1.93,0-3.5-1.57-3.5-3.5s1.57-3.5,3.5-3.5h1.763c.239.341.505.667.807.969l.031.031h-2.602c-1.378,0-2.5,1.122-2.5,2.5s1.122,2.5,2.5,2.5h9c1.93,0,3.5,1.57,3.5,3.5Z"/>
                            <circle cx="19.001" cy="4.787" r="1"/>
                          </svg> Direction:</label>
                        <select class="form-select text-light" id="direction" name="direction" required>
                            <option value="" disabled selected>Select a direction</option>
                            <option value="North">Northbound</option>
                            <option value="South">Southbound</option>
                            <!-- Add more lines as needed -->
                        </select>
                    </div>
                    <div class="col-12 text-end">
                        <button class="btn btn-success btn-sm mt-3 w-25" type="submit">Submit <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-square" viewBox="0 0 20 20">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                            <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                          </svg></button>
                    </div>
                </div>
            </div>
        </form>
    </section>

</body>
</html>